<p>tareas-asignadas works!</p>

<table class="table table-striped m-5">
    <thead>
        <tr>
            <th>Id</th>
            <th>Descripcion</th>
            <th>Dificultad</th>
            <th>Horas previstas</th>
            <th>Horas realizadas</th>
            <th>Realizacion</th>
            <th>Completada</th>
        </tr>
    </thead>

    @for(tarea of tareas; track tarea.id) {
        <tr>
            <td>{{ tarea.id }}</td>
            <td>{{ tarea.descripcion }}</td>
            <td>{{ tarea.dificultad }}</td>
            <td>{{ tarea.horas_previstas }}</td>
            <td>{{ tarea.horas_realizadas }}</td>
            <td>{{ tarea.realizacion }}</td>
            <td>{{ tarea.completada }}</td>
        </tr>
    }

</table>
